
<h1>Welcome to the Car Simulator!</h1>
<hr/>
<!-- why did we change the route from vehicle/index to vehicle/create? -->
<form action="create" method="get">
  <label for="make_id">Make:</label>
  <input type="text" name="make" id="make_id" required/>
  <label for="year_id">Year:</label>
  <input type="number" name="year" id="year_id" required/>
  <input type="submit" value="Simulate Car"/>
</form>
